<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rest</title>
</head>
<body>
    <div style="display: flex;justify-content: center;margin-top: 10%;margin-left: 30%;flex-direction:column">
        <h1>Приветствую!</h1>
        <h2>Данная страница была создана для работы с фреймворком Rest.</h2>
        <h2>Для дальнейшей работы вам понадобится перейти на следующие страницы:</h2>
        <a style="font-size:24px;" href="/rest/api/books">Список книг</a>
        <a style="font-size:24px;margin-top:12px" href="/rest/api/author">Список Авторов</a>
        <a style="font-size:24px;margin-top:12px" href="/rest/api/add_book">Добавление книг</a>
    </div>
</body>
</html>